.panel.wrapper {
    display: none;
}

.page-wrapper {
    .breadcrumbs {
        display: none;
    }
}

.page-title-wrapper {
    display: none;
}

.location {
    display: inline-flex;
    align-items: center;
    &::before {
        content: "\e902";
        font-family: "icomoon";
        font-size: 18px;
    }
    p {
        font-size: 12px;
        margin: 0;
        margin-left: 6px;
    }
}