.headerWrapper {
    margin: 0 30px;
    .bottomHeaderwrapper {
        .searchcontainer {
            .form.minisearch {
                .control {
                    &::before {
                        content: "\e903";
                        font-family: "icomoon";
                        position: absolute;
                        padding: 7px 10px 5px;
                    }
                    input {
                        padding-left: 30px;
                        width: 300px;
                    }
                }
                input {
                    border-radius: 5px;
                    font-size: 14px;
                    &::placeholder {
                        color: #808080;
                    }
                }
            }
        }
        .rightdetailwrapper {
            font-size: 18px;
            .minicart-wrapper .action.showcart:before {
                font-family: "icomoon";
                content: "\e901";
                font-size: 24px;
                color: #000;
            }

            .link.wishlist {
                a {
                    &:before {
                        font-family: "icomoon";
                        content: "\e900";
                        font-size: 24px;
                        color: #000;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            
        }
    }
}

.headerWrapper {
    .bottomHeadercontent {
        display: flex;
        justify-content: space-between;
        .logo {
            margin: 0;
        }
        .searchcontainer {
            .nested {
                display: none;
            }
        }
        .rightdetailwrapper {
            list-style: none;
            display: flex;
        }
    }
}

.switcher.currency.switcher-currency {
    .label.switcher-label {
        display: none;
    }
    .action.toggle.switcher-trigger {
        span {
            display: none;
        }
    }
    ul.dropdown.switcher-dropdown {
        list-style: none;
        li a:hover {
            text-decoration: none;
        }
    }
}
