.category-home {
    .block.filter {
        display: none;
    }

    #page-title-heading {
        display: none;
    }

    .toolbar-products {
        display: none;
    }

    .breadcrumbs {
        display: none;
    }
}

//Product styles on home page
.block.widget .products-grid .product-item,
.page-products .products-grid .product-item {
    padding: 8px;
}

.product-item {
    .product-item-info {
        position: relative;

        .product-image-wrapper {
            padding-bottom: 95% !important; 
        }

        .product-item-details {

            .product-reviews-summary {
                margin: 5px 0;
            }

            .reviews-actions {
                display: none;
            }

            .product-item-name {
                font-size: 14px;
                line-height: 21px;
                color: #4d4d4d;
            }

            .price-box {
                margin: 0;

                .price {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    color: #1a1a1a;
                }
            }

            .rating-summary .rating-result:before,
            .rating-summary .rating-result>span:before {
                font-size: 24px;
                height: 24px;
                line-height: 24px;
            }

            .rating-summary .rating-result {
                margin-left: 0;

                &>span:before {
                    color: #ff8a00;
                }
            }

            .product-item-inner {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 5px;
                z-index: 10;

                .product-item-actions {
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: space-between;
                    height: 90%;

                    .actions-primary {
                        .action.tocart.primary {
                            background: none;
                            border: none;
                            border-radius: 50%;
                            padding: 12px;
                            font-size: 20px;
                            color: #1a1a1a;

                            &::before {
                                font-family: "icomoon";
                                font-weight: normal;
                                content: "\e901";
                            }

                            span {
                                display: none;
                            }

                            &:hover {
                                background: #00b207;
                                color: #fff;
                            }
                        }
                    }

                    .actions-secondary {
                        .action.towishlist {
                            background: #fff;
                            &::before {
                                color: #1a1a1a;
                                font-size: 20px;
                                line-height: normal;
                                width: auto;
                                padding: 12px;
                                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
                                border-radius: 50%;
                            }

                            &:hover {
                                &::before {
                                    background: #00b207;
                                    color: #fff;
                                    box-shadow: none;
                                }
                            }
                        }

                        .action.tocompare {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .actions-secondary {
        display: none;
    }

    &:hover {
        border: 1px solid #2C742F;
        box-shadow: 0px 0px 12px 0px #20B52652;

        .product-item-info {
            .product-item-details {
                
                .product-item-name a {
                    color: #2C742F;
                }

                .product-item-inner {
                    .product-item-actions {
                        .actions-primary {
                            .action.tocart.primary {
                                color: #fff;
                                background: #00b207;
                            }
                        }
                    }
                }
            }
        }

        .actions-secondary {
            display: block;
        }
    }
}