.category-home {
    .block.filter {
        display: none;
    }
    #page-title-heading {
        display: none;
    }
}

.page-layout-1column {
    .product.media {
        width: 45%;
    }
    .product-info-main {
        width: 50%;
    }
}
.product-info-main .page-title-wrapper .page-title {
    font-family: "Poppins";
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    color: #1a1a1a;
}
.product-add-form {
    .fieldset {
        button.action.primary.tocart {
            width: 447px;
            padding: 16px 40px;
            gap: 16px;
            border-radius: 43px;
            font-weight: 600;
            background: #00b207;
            border: none;
            span::after {
                font-family: "icomoon";
                content: "\e901";
                font-size: 20px;
                margin-inline-start: 8px;
                position: absolute;
            }
        }
    }
}
