.sections.nav-sections {
    .navigation {
        background: #333333;
        padding: 0 30px;
        ul {
            padding: 0;
            li {
                width: 80px;
                padding: 10px 0;
                a {
                    color: #fff;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 21px;
                    letter-spacing: 0.5px;
                    padding: 0;
                    &:hover {
                        color: #fff;
                        font-weight: 700;
                    }
                }
            }
        }
        .contact-link-wrapper {
            display: inline-block;
            .contact-nav-link a {
                color: #fff;
                font-size: 13px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0.5px;
                padding: 0;
                text-decoration: none;
                &:hover {
                    color: #fff;
                    font-weight: 700;
                    font-size: 14px;
                }
            }
        }
    }

    .navigation .level0.active > .level-top,
    .navigation .level0.has-active > .level-top,
    .navigation .level0 > .level-top:hover,
    .navigation .level0 > .level-top.ui-state-focus {
        all: unset;
        border: none;
        color: #fff;
    }
}
