.sections.nav-sections {
    position: sticky;
    top: 119px;
    top: 119px;
    z-index: 10;
    box-shadow: 0 0 5px 0 #999999;
    margin-bottom: 0;

    .navigation {
        background: #333333;
        padding: 0 30px;
        font-family: "Poppins";
        font-size: 14px;

        ul {
            padding: 0;

            li {
                min-width: 80px;
                padding: 10px 0;
                cursor: pointer;
                font-weight: 500;
                font-size: 14px;

                a {
                    line-height: 21px;
                    padding: 0;
                    color: #999999;
                    display: inline-flex;
                }

                #ui-id-2,
                #ui-id-3,
                #ui-id-4,
                #ui-id-5 {
                    &::after {
                        font-family: "icomoon";
                        content: "\e701";
                        font-size: 12px;
                        margin-inline-start: 5px;
                        font-weight: 600;
                    }
                }

                &:hover {
                    font-weight: 700;
                    color: #fff;
                }
            }

            li.parent {
                .submenu {
                    padding: 8px;

                    li:hover {
                        font-weight: 600;

                        a {
                            background: #fff;
                        }
                    }

                    li a {
                        color: #1a1a1a;
                    }
                }
            }
        }

        .contact-link-wrapper {
            display: inline-block;

            .contact-nav-link a {
                color: #999999;
                font-size: 14px;
                font-weight: 500;
                line-height: 21px;
                letter-spacing: 0.5px;
                padding: 0;
                text-decoration: none;

                &:hover {
                    color: #fff;
                    font-weight: 700;
                }
            }
        }
    }

    .navigation .level0.active > .level-top,
    .navigation .level0.has-active > .level-top,
    .navigation .level0 > .level-top:hover,
    .navigation .level0 > .level-top.ui-state-focus {
        border: none;
        color: #fff;
    }
}

// Mobile Specific styles
@media only screen and (max-width: 768px) {
    .sections.nav-sections {
        position: fixed;
        top: 0;
        z-index: 99;
        .navigation {
            background: #fff;

            ul li a {
                font-family: "Poppins";
                color: #1a1a1a;
                width: 100%;
                justify-content: space-between;
                font-weight: 500;

                &::after {
                    position: relative;
                    right: 0;
                    top: 0;
                }
            }

            .ui-icon-carat-1-e {
                display: none;
            }

            .contact-link-wrapper {
                .contact-nav-link a {
                    color: #1a1a1a;
                    text-transform: uppercase;
                    padding: 10px 0;
                }
            }
        }

        .navigation .level0.active > .level-top,
        .navigation .level0.has-active > .level-top,
        .navigation .level0 > .level-top:hover,
        .navigation .level0 > .level-top.ui-state-focus {
            border: none;
            color: #1a1a1a;
        }
    }

    .navigation
        .level0.active
        > a:not(.ui-state-active)
        span:not(.ui-menu-icon),
    .navigation
        .level0.has-active
        > a:not(.ui-state-active)
        span:not(.ui-menu-icon) {
        margin-left: 0;
    }
}

// Switching background colours for different pages.
body:is(
        .category-shop,
        .catalog-product-view,
        .checkout-cart-index,
        .checkout-index-index
    ) {
    .sections.nav-sections {
        .navigation {
            background: #fff;

            ul li a {
                color: #666666;
            }
        }

        .navigation .level0.active > .level-top,
        .navigation .level0.has-active > .level-top,
        .navigation .level0 > .level-top:hover,
        .navigation .level0 > .level-top.ui-state-focus {
            color: #00b207;
        }

        .contact-link-wrapper {
            .contact-nav-link a {
                color: #666666;
                &:hover {
                    color: #00b207;
                }
            }
        }
    }
}
