.panel.wrapper {
    display: none;
}

.page-title-wrapper {
    display: none;
}

.location {
    display: inline-flex;
    align-items: center;
    &::before {
        content: "\e902";
        font-family: "icomoon";
        font-size: 18px;
    }
    p {
        font-size: 12px;
        margin: 0;
        margin-left: 6px;
    }
}

.sections.nav-sections {
    .navigation {
        background: #333333;
        padding: 0 30px;
        ul {
            padding: 0;
            li {
                width: 80px;
                padding: 10px 0;
                a {
                    color: #fff;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 21px;
                    letter-spacing: 0.5px;
                    padding: 0;
                    &:hover {
                        color: #fff;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .navigation .level0.active > .level-top,
    .navigation .level0.has-active > .level-top {
        all: unset;
        border: none;
        color: #fff;
    }
}
